@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
 }
 :root{
    --soft-blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);

/*### Neutral*/

--main-bg: hsl(46, 93%, 52%);
--card-bg: hsl(216, 50%, 16%);
--dark-grey:hsl(216, 55%, 41%);
--orange: hsl(36, 48%, 75%);
--white: hsl(0, 0%, 100%);
}
body{
    font-family: "Outfit",sans-serif;
    font-size: 18px;
    background-color: var(--main-bg);
    color: hsl(36, 48%, 75%);
    padding: 1.25rem;

}
.bible-img{
    width: 100%;
    height: 700px;
    border-radius: 2rem;
    opacity: .0.5;
}
.crystal-logo{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
}
.crystal-icon{
    width:14rem ;
    position: relative;
    bottom: 2rem;
    right: 1rem;
    
}
.faith-logo{
    width:13rem ;
    height: 8rem;
    position: relative;
    bottom: -6px;
    left: 35rem;
}
.ul li{
    color: black;
}
ul li:hover {
    list-style: none;
    color: var(--cyan);
    cursor: pointer;
}

.container h1{
    color:var(--white); 
    margin: 1rem 0.5rem 0.5rem 0;
    padding-left: 0.5rem;
}
.container h2{
    color: var(--card-bg);
}
.container h1:hover{
    color: var(--cyan);
    cursor: pointer;
}
.container ul li:first-child{
    color: var(--white);
}

.container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid var(--line);

}
.cards{
    grid-template-columns: repeat(2, 1fr);
}
.cards h4{
    font-size: 1.25rem;
    color: black;
    font-weight: 800;
    margin: 1rem 0;
}
h4{
    /* color: black; */
    color: var(--white);
    margin-top: 1rem;
    font-size: 1.5rem;
}
p{
    line-height: 1.8;
    /* color: var(--white); */
    color: black;
    font-weight: 300;
    font-family: "Outfit",sans-serif;
}
.container .avatar img{
    width: 2 rem;
    border: 2px solid var(--white);
    border-radius: 50%;
    margin-right: 2rem;
}
.container .avatar p span{
    color: var(--white);
    font-weight: 400;
}
.container .avatar p span:hover{
    color: var(--cyan);
    cursor: pointer;
}
.container .avatar {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 2rem;
}
h2{
    margin: 1rem 0.5rem;
}
.avatar-img{
    width: 5rem;
    height: 6rem;
    margin-bottom: 1rem;
}
.carrot-image.icon{
    border-radius: 3rem;
}
.attribution{
    color: black;
}
@media(min-width:760px) { 
    .container{
        width: 560px;
        margin: 0  2rem;
    }
    .attribution{
        padding-left: 1.5rem;
    }
    .bible-img{
        width: 700px;
        height: 400px;
    }
    .faith-logo{
    width:9rem ;
    height: 10rem;
    position: relative;
    bottom: 1px;
    left: 17rem;
}
.icon{
    border-radius: 1.5rem;
}
    
}
@media(max-width:320px) { 
    .container{
        width: 300px;
        margin: 0  1rem;
        padding-right: 1.6rem;
    }
    .attribution{
        padding-left: 1.5rem;
    }
    .bible-img{
        width: 290px;
        height: 400px;
        padding-right: 29px;
    }
    .faith-logo{
    width:5rem ;
    height: 7rem;
    position: relative;
    bottom: -5px;
    left: 3rem;
}
.crystal-icon{
    width:9rem ;
    position: relative;
    bottom: 1rem;
    right: 1rem;
    
}
.list-menu{
    color: black;
    font-weight: 400;
    list-style: none;
    margin-top: 1rem;
    line-height: 1.8;
}
.icon{
    border-radius: 1.5rem;
    color: black !important;
    width: 270px;
}
.list-menu{
    color: black;
}
    
}  
@media(min-width:1024px) { 
    .container{
        width: 1000px;
        margin: 0  1rem;
        padding-right: 1rem;
    }
    .attribution{
        padding-left: 1.5rem;
    }
    .bible-img{
        width: 980px;
        height: 400px;
        padding-right: 20px;
    }
    .faith-logo{
    width:9rem ;
    height: 10rem;
    position: relative;
    bottom: 1px;
    left: 35rem;
}
 .list-menu{
    margin-top: 1rem;
    line-height: 1.8;
    color: black;
    font-weight: 400;
    list-style: none;
}
.icon{
    border-radius: 1.5rem;
}
    
}  
        



